//AJOUT DE QUELQUES COLONES A LA GRILLE NATIVE DE BOOTSTRAP
//=========================================================
$cols: 12!default; //Nombre de collone de la grille
$goutier: 30px!default; //la largeur du goutiere
//Dimensionnement de collones
%col {
    // @include transition('width 0.2s');
    // @include box-sizing('border-box');
    padding: {
        left: ($goutier-bootstrap * 0.5);
        right: ($goutier-bootstrap * 0.5);
    }
    min-height: 1px;
    position: relative;
    z-index: 1;
    float: left;
}


/**********************************************
*MIXIN CREATEUR DES COLONNES
*********************************************/

@mixin responsive-columns($surfix: "") {
    @for $i from 0 through $grid-columns {
        @if $i!=0 {
            .col#{$surfix}-#{$i} {
                width: (($i/$grid-columns) * 100%);
            }
        }
        .col#{$surfix}-offset-#{$i} {
            margin-left: $i/$grid-columns * 100%;
        }
    }
    //Les marges
    @for $var from 5 to 90 {
        @if $var%15==0 {
            .pd#{$surfix}-#{$var} {
                padding: #{$var}#{'px'};
            }
            .pd#{$surfix}-t-#{$var} {
                padding-top: #{$var}#{'px'};
            }
            .pd#{$surfix}-b-#{$var} {
                padding-bottom: #{$var}#{'px'};
            }
            .pd#{$surfix}-r-#{$var} {
                padding-right: #{$var}#{'px'};
            }
            .pd#{$surfix}-l-#{$var} {
                padding-left: #{$var}#{'px'};
            }
            .mg#{$surfix}-#{$var} {
                margin: #{$var}#{'px'};
            }
            .mg#{$surfix}-t-#{$var} {
                margin-top: #{$var}#{'px'};
            }
            .mg#{$surfix}-b-#{$var} {
                margin-bottom: #{$var}#{'px'};
            }
            .mg#{$surfix}-r-#{$var} {
                margin-right: #{$var}#{'px'};
            }
            .mg#{$surfix}-l-#{$var} {
                margin-left: #{$var}#{'px'};
            }
        }
    }
}

//applications des regles par defaut
@for $j from 1 through length($list-media) {
    @for $i from 1 through $cols {
        .col#{nth($surfix-media, $j)}-#{$i} {
            @extend %col;
        }
    }
}

@for $i from 1 through $cols {
    //Pour les colones par defaut
    .col-#{$i} {
        @extend %col;
    }
}

//Grile par defaut
// @include responsive-columns("");
//Generation de la grille responsive
//----------------------------------------
@for $j from 1 through length($list-media-custom) {
    //Selection du type d'ecran
    @include media-screen(nth($list-media-custom, $j)) {
        @include responsive-columns($surfix: nth($surfix-media-custom, $j));
    }
}