$icon-font-name : 'glyphicons-halflings-regular';
$icon-font-path : '../fonts/';

@font-face {
    font-family: #{'\'Glyphicons Halflings\''};
    src: url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.eot\''});
    src: url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.eot?#iefix\''}) format(#{'\'embedded-opentype\''}),
         url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.woff2\''}) format(#{'\'woff2\''}),
         url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.woff\''}) format(#{'\'woff\''}),
         url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.ttf\''}) format(#{'\'truetype\''}),
         url(#{'\''}#{$icon-font-path+$icon-font-name}#{'.svg\''}) format(#{'\'svg\''});
}

.gl {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  // Individual icons
.gl-asterisk               { &:before { content: "\002a"; } }
.gl-plus                   { &:before { content: "\002b"; } }
.gl-euro,
.gl-eur                    { &:before { content: "\20ac"; } }
.gl-minus                  { &:before { content: "\2212"; } }
.gl-cloud                  { &:before { content: "\2601"; } }
.gl-envelope               { &:before { content: "\2709"; } }
.gl-pencil                 { &:before { content: "\270f"; } }
.gl-glass                  { &:before { content: "\e001"; } }
.gl-music                  { &:before { content: "\e002"; } }
.gl-search                 { &:before { content: "\e003"; } }
.gl-heart                  { &:before { content: "\e005"; } }
.gl-star                   { &:before { content: "\e006"; } }
.gl-star-empty             { &:before { content: "\e007"; } }
.gl-user                   { &:before { content: "\e008"; } }
.gl-film                   { &:before { content: "\e009"; } }
.gl-th-large               { &:before { content: "\e010"; } }
.gl-th                     { &:before { content: "\e011"; } }
.gl-th-list                { &:before { content: "\e012"; } }
.gl-ok                     { &:before { content: "\e013"; } }
.gl-remove                 { &:before { content: "\e014"; } }
.gl-zoom-in                { &:before { content: "\e015"; } }
.gl-zoom-out               { &:before { content: "\e016"; } }
.gl-off                    { &:before { content: "\e017"; } }
.gl-signal                 { &:before { content: "\e018"; } }
.gl-cog                    { &:before { content: "\e019"; } }
.gl-trash                  { &:before { content: "\e020"; } }
.gl-home                   { &:before { content: "\e021"; } }
.gl-file                   { &:before { content: "\e022"; } }
.gl-time                   { &:before { content: "\e023"; } }
.gl-road                   { &:before { content: "\e024"; } }
.gl-download-alt           { &:before { content: "\e025"; } }
.gl-download               { &:before { content: "\e026"; } }
.gl-upload                 { &:before { content: "\e027"; } }
.gl-inbox                  { &:before { content: "\e028"; } }
.gl-play-circle            { &:before { content: "\e029"; } }
.gl-repeat                 { &:before { content: "\e030"; } }
.gl-refresh                { &:before { content: "\e031"; } }
.gl-list-alt               { &:before { content: "\e032"; } }
.gl-lock                   { &:before { content: "\e033"; } }
.gl-flag                   { &:before { content: "\e034"; } }
.gl-headphones             { &:before { content: "\e035"; } }
.gl-volume-off             { &:before { content: "\e036"; } }
.gl-volume-down            { &:before { content: "\e037"; } }
.gl-volume-up              { &:before { content: "\e038"; } }
.gl-qrcode                 { &:before { content: "\e039"; } }
.gl-barcode                { &:before { content: "\e040"; } }
.gl-tag                    { &:before { content: "\e041"; } }
.gl-tags                   { &:before { content: "\e042"; } }
.gl-book                   { &:before { content: "\e043"; } }
.gl-bookmark               { &:before { content: "\e044"; } }
.gl-print                  { &:before { content: "\e045"; } }
.gl-camera                 { &:before { content: "\e046"; } }
.gl-font                   { &:before { content: "\e047"; } }
.gl-bold                   { &:before { content: "\e048"; } }
.gl-italic                 { &:before { content: "\e049"; } }
.gl-text-height            { &:before { content: "\e050"; } }
.gl-text-width             { &:before { content: "\e051"; } }
.gl-align-left             { &:before { content: "\e052"; } }
.gl-align-center           { &:before { content: "\e053"; } }
.gl-align-right            { &:before { content: "\e054"; } }
.gl-align-justify          { &:before { content: "\e055"; } }
.gl-list                   { &:before { content: "\e056"; } }
.gl-indent-left            { &:before { content: "\e057"; } }
.gl-indent-right           { &:before { content: "\e058"; } }
.gl-facetime-video         { &:before { content: "\e059"; } }
.gl-picture                { &:before { content: "\e060"; } }
.gl-map-marker             { &:before { content: "\e062"; } }
.gl-adjust                 { &:before { content: "\e063"; } }
.gl-tint                   { &:before { content: "\e064"; } }
.gl-edit                   { &:before { content: "\e065"; } }
.gl-share                  { &:before { content: "\e066"; } }
.gl-check                  { &:before { content: "\e067"; } }
.gl-move                   { &:before { content: "\e068"; } }
.gl-step-backward          { &:before { content: "\e069"; } }
.gl-fast-backward          { &:before { content: "\e070"; } }
.gl-backward               { &:before { content: "\e071"; } }
.gl-play                   { &:before { content: "\e072"; } }
.gl-pause                  { &:before { content: "\e073"; } }
.gl-stop                   { &:before { content: "\e074"; } }
.gl-forward                { &:before { content: "\e075"; } }
.gl-fast-forward           { &:before { content: "\e076"; } }
.gl-step-forward           { &:before { content: "\e077"; } }
.gl-eject                  { &:before { content: "\e078"; } }
.gl-chevron-left           { &:before { content: "\e079"; } }
.gl-chevron-right          { &:before { content: "\e080"; } }
.gl-plus-sign              { &:before { content: "\e081"; } }
.gl-minus-sign             { &:before { content: "\e082"; } }
.gl-remove-sign            { &:before { content: "\e083"; } }
.gl-ok-sign                { &:before { content: "\e084"; } }
.gl-question-sign          { &:before { content: "\e085"; } }
.gl-info-sign              { &:before { content: "\e086"; } }
.gl-screenshot             { &:before { content: "\e087"; } }
.gl-remove-circle          { &:before { content: "\e088"; } }
.gl-ok-circle              { &:before { content: "\e089"; } }
.gl-ban-circle             { &:before { content: "\e090"; } }
.gl-arrow-left             { &:before { content: "\e091"; } }
.gl-arrow-right            { &:before { content: "\e092"; } }
.gl-arrow-up               { &:before { content: "\e093"; } }
.gl-arrow-down             { &:before { content: "\e094"; } }
.gl-share-alt              { &:before { content: "\e095"; } }
.gl-resize-full            { &:before { content: "\e096"; } }
.gl-resize-small           { &:before { content: "\e097"; } }
.gl-exclamation-sign       { &:before { content: "\e101"; } }
.gl-gift                   { &:before { content: "\e102"; } }
.gl-leaf                   { &:before { content: "\e103"; } }
.gl-fire                   { &:before { content: "\e104"; } }
.gl-eye-open               { &:before { content: "\e105"; } }
.gl-eye-close              { &:before { content: "\e106"; } }
.gl-warning-sign           { &:before { content: "\e107"; } }
.gl-plane                  { &:before { content: "\e108"; } }
.gl-calendar               { &:before { content: "\e109"; } }
.gl-random                 { &:before { content: "\e110"; } }
.gl-comment                { &:before { content: "\e111"; } }
.gl-magnet                 { &:before { content: "\e112"; } }
.gl-chevron-up             { &:before { content: "\e113"; } }
.gl-chevron-down           { &:before { content: "\e114"; } }
.gl-retweet                { &:before { content: "\e115"; } }
.gl-shopping-cart          { &:before { content: "\e116"; } }
.gl-folder-close           { &:before { content: "\e117"; } }
.gl-folder-open            { &:before { content: "\e118"; } }
.gl-resize-vertical        { &:before { content: "\e119"; } }
.gl-resize-horizontal      { &:before { content: "\e120"; } }
.gl-hdd                    { &:before { content: "\e121"; } }
.gl-bullhorn               { &:before { content: "\e122"; } }
.gl-bell                   { &:before { content: "\e123"; } }
.gl-certificate            { &:before { content: "\e124"; } }
.gl-thumbs-up              { &:before { content: "\e125"; } }
.gl-thumbs-down            { &:before { content: "\e126"; } }
.gl-hand-right             { &:before { content: "\e127"; } }
.gl-hand-left              { &:before { content: "\e128"; } }
.gl-hand-up                { &:before { content: "\e129"; } }
.gl-hand-down              { &:before { content: "\e130"; } }
.gl-circle-arrow-right     { &:before { content: "\e131"; } }
.gl-circle-arrow-left      { &:before { content: "\e132"; } }
.gl-circle-arrow-up        { &:before { content: "\e133"; } }
.gl-circle-arrow-down      { &:before { content: "\e134"; } }
.gl-globe                  { &:before { content: "\e135"; } }
.gl-wrench                 { &:before { content: "\e136"; } }
.gl-tasks                  { &:before { content: "\e137"; } }
.gl-filter                 { &:before { content: "\e138"; } }
.gl-briefcase              { &:before { content: "\e139"; } }
.gl-fullscreen             { &:before { content: "\e140"; } }
.gl-dashboard              { &:before { content: "\e141"; } }
.gl-paperclip              { &:before { content: "\e142"; } }
.gl-heart-empty            { &:before { content: "\e143"; } }
.gl-link                   { &:before { content: "\e144"; } }
.gl-phone                  { &:before { content: "\e145"; } }
.gl-pushpin                { &:before { content: "\e146"; } }
.gl-usd                    { &:before { content: "\e148"; } }
.gl-gbp                    { &:before { content: "\e149"; } }
.gl-sort                   { &:before { content: "\e150"; } }
.gl-sort-by-alphabet       { &:before { content: "\e151"; } }
.gl-sort-by-alphabet-alt   { &:before { content: "\e152"; } }
.gl-sort-by-order          { &:before { content: "\e153"; } }
.gl-sort-by-order-alt      { &:before { content: "\e154"; } }
.gl-sort-by-attributes     { &:before { content: "\e155"; } }
.gl-sort-by-attributes-alt { &:before { content: "\e156"; } }
.gl-unchecked              { &:before { content: "\e157"; } }
.gl-expand                 { &:before { content: "\e158"; } }
.gl-collapse-down          { &:before { content: "\e159"; } }
.gl-collapse-up            { &:before { content: "\e160"; } }
.gl-log-in                 { &:before { content: "\e161"; } }
.gl-flash                  { &:before { content: "\e162"; } }
.gl-log-out                { &:before { content: "\e163"; } }
.gl-new-window             { &:before { content: "\e164"; } }
.gl-record                 { &:before { content: "\e165"; } }
.gl-save                   { &:before { content: "\e166"; } }
.gl-open                   { &:before { content: "\e167"; } }
.gl-saved                  { &:before { content: "\e168"; } }
.gl-import                 { &:before { content: "\e169"; } }
.gl-export                 { &:before { content: "\e170"; } }
.gl-send                   { &:before { content: "\e171"; } }
.gl-floppy-disk            { &:before { content: "\e172"; } }
.gl-floppy-saved           { &:before { content: "\e173"; } }
.gl-floppy-remove          { &:before { content: "\e174"; } }
.gl-floppy-save            { &:before { content: "\e175"; } }
.gl-floppy-open            { &:before { content: "\e176"; } }
.gl-credit-card            { &:before { content: "\e177"; } }
.gl-transfer               { &:before { content: "\e178"; } }
.gl-cutlery                { &:before { content: "\e179"; } }
.gl-header                 { &:before { content: "\e180"; } }
.gl-compressed             { &:before { content: "\e181"; } }
.gl-earphone               { &:before { content: "\e182"; } }
.gl-phone-alt              { &:before { content: "\e183"; } }
.gl-tower                  { &:before { content: "\e184"; } }
.gl-stats                  { &:before { content: "\e185"; } }
.gl-sd-video               { &:before { content: "\e186"; } }
.gl-hd-video               { &:before { content: "\e187"; } }
.gl-subtitles              { &:before { content: "\e188"; } }
.gl-sound-stereo           { &:before { content: "\e189"; } }
.gl-sound-dolby            { &:before { content: "\e190"; } }
.gl-sound-5-1              { &:before { content: "\e191"; } }
.gl-sound-6-1              { &:before { content: "\e192"; } }
.gl-sound-7-1              { &:before { content: "\e193"; } }
.gl-copyright-mark         { &:before { content: "\e194"; } }
.gl-registration-mark      { &:before { content: "\e195"; } }
.gl-cloud-download         { &:before { content: "\e197"; } }
.gl-cloud-upload           { &:before { content: "\e198"; } }
.gl-tree-conifer           { &:before { content: "\e199"; } }
.gl-tree-deciduous         { &:before { content: "\e200"; } }
.gl-cd                     { &:before { content: "\e201"; } }
.gl-save-file              { &:before { content: "\e202"; } }
.gl-open-file              { &:before { content: "\e203"; } }
.gl-level-up               { &:before { content: "\e204"; } }
.gl-copy                   { &:before { content: "\e205"; } }
.gl-paste                  { &:before { content: "\e206"; } }
// The following 2 Glyphicons are omitted for the time being because
// they currently use Unicode codepoints that are outside the
// Basic Multilingual Plane (BMP). Older buggy versions of WebKit can't handle
// non-BMP codepoints in CSS string escapes, and thus can't display these two icons.
// Notably, the bug affects some older versions of the Android Browser.
// More info: https://github.com/twbs/bootstrap/issues/10106
// .gl-door                   { &:before { content: "\1f6aa"; } }
// .gl-key                    { &:before { content: "\1f511"; } }
.gl-alert                  { &:before { content: "\e209"; } }
.gl-equalizer              { &:before { content: "\e210"; } }
.gl-king                   { &:before { content: "\e211"; } }
.gl-queen                  { &:before { content: "\e212"; } }
.gl-pawn                   { &:before { content: "\e213"; } }
.gl-bishop                 { &:before { content: "\e214"; } }
.gl-knight                 { &:before { content: "\e215"; } }
.gl-baby-formula           { &:before { content: "\e216"; } }
.gl-tent                   { &:before { content: "\26fa"; } }
.gl-blackboard             { &:before { content: "\e218"; } }
.gl-bed                    { &:before { content: "\e219"; } }
.gl-apple                  { &:before { content: "\f8ff"; } }
.gl-erase                  { &:before { content: "\e221"; } }
.gl-hourglass              { &:before { content: "\231b"; } }
.gl-lamp                   { &:before { content: "\e223"; } }
.gl-duplicate              { &:before { content: "\e224"; } }
.gl-piggy-bank             { &:before { content: "\e225"; } }
.gl-scissors               { &:before { content: "\e226"; } }
.gl-bitcoin                { &:before { content: "\e227"; } }
.gl-btc                    { &:before { content: "\e227"; } }
.gl-xbt                    { &:before { content: "\e227"; } }
.gl-yen                    { &:before { content: "\00a5"; } }
.gl-jpy                    { &:before { content: "\00a5"; } }
.gl-ruble                  { &:before { content: "\20bd"; } }
.gl-rub                    { &:before { content: "\20bd"; } }
.gl-scale                  { &:before { content: "\e230"; } }
.gl-ice-lolly              { &:before { content: "\e231"; } }
.gl-ice-lolly-tasted       { &:before { content: "\e232"; } }
.gl-education              { &:before { content: "\e233"; } }
.gl-option-horizontal      { &:before { content: "\e234"; } }
.gl-option-vertical        { &:before { content: "\e235"; } }
.gl-menu-hamburger         { &:before { content: "\e236"; } }
.gl-modal-window           { &:before { content: "\e237"; } }
.gl-oil                    { &:before { content: "\e238"; } }
.gl-grain                  { &:before { content: "\e239"; } }
.gl-sunglasses             { &:before { content: "\e240"; } }
.gl-text-size              { &:before { content: "\e241"; } }
.gl-text-color             { &:before { content: "\e242"; } }
.gl-text-background        { &:before { content: "\e243"; } }
.gl-object-align-top       { &:before { content: "\e244"; } }
.gl-object-align-bottom    { &:before { content: "\e245"; } }
.gl-object-align-horizontal{ &:before { content: "\e246"; } }
.gl-object-align-left      { &:before { content: "\e247"; } }
.gl-object-align-vertical  { &:before { content: "\e248"; } }
.gl-object-align-right     { &:before { content: "\e249"; } }
.gl-triangle-right         { &:before { content: "\e250"; } }
.gl-triangle-left          { &:before { content: "\e251"; } }
.gl-triangle-bottom        { &:before { content: "\e252"; } }
.gl-triangle-top           { &:before { content: "\e253"; } }
.gl-console                { &:before { content: "\e254"; } }
.gl-superscript            { &:before { content: "\e255"; } }
.gl-subscript              { &:before { content: "\e256"; } }
.gl-menu-left              { &:before { content: "\e257"; } }
.gl-menu-right             { &:before { content: "\e258"; } }
.gl-menu-down              { &:before { content: "\e259"; } }
.gl-menu-up                { &:before { content: "\e260"; } }
