#pour les fichiers statiques 
RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{REQUEST_URI} ^/(js|css|img|fonts)/.* 
RewriteRule ^(js|css|img|fonts)/(.*)$ Web/$1/$2 [L]

RewriteCond %{REQUEST_URI} ^/(offices|grades|users)/.* 
RewriteRule ^(users|offices|grades)/(.*)$ Web/data/$1/$2 [L]
RewriteRule ^favicon.icon$ Web/logo-75x75.png [L]

#les applications des utilisateurs authentifiers
RewriteRule ^(member|office|root|admin)/(.*)$ Web/index.php?subdomain=$1 [QSA,L]

#pour tout ce qui n'est pas fichiers publique
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

ErrorDocument 404 index.php