<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "../PHPbackend/config.dtd" >
<config webData="Web" webLogger="Web/logger">
	
	<applications foldName="Applications">
		<application name="Common"/>
		<application name="Member" urlPattern="/member/(.*)"/>
		<application name="Office" urlPattern="/office/(.*)"/>
		<application name="Admin" urlPattern="/admin/(.*)"/>
		<application name="Root" urlPattern="/root/(.*)"/>
	</applications>
	
	<filters>
		<filter name="\Core\Shivalik\Filters\SessionAdminFilter">
			<filter-route urlPattern="/admin/(.*)"/>
		</filter>
		<filter name="\Core\Shivalik\Filters\SessionMemberFilter">
			<filter-route urlPattern="/member/(.*)"/>
		</filter>
		<filter name="\Core\Shivalik\Filters\SessionOfficeFilter">
			<filter-route urlPattern="/office/(.*)"/>
		</filter>
		<filter name="\Core\Shivalik\Filters\SessionRootFilter">
			<filter-route urlPattern="/root/(.*)"/>
		</filter>
	</filters>
	
	<definitions>
		<define name="webData" value="Web/data"/>
		<define name="webLogger" value="Web/logger"/>
		
		<define name="logo" value="/logo.jpg"/>
		<define name="icone_airtel" value="/img/airtel.jpg"/>
		<define name="icone_vodacom" value="/img/vodacom.jpg"/>
		<define name="icone_orange" value="/img/orage.jpg"/>
		<define name="icone_visa" value="/img/visa.jpg"/>
		<define name="icone_paypal" value="/img/paypal.jpg"/>
		<define name="icone_crypto" value="/img/crypto.jpg"/>
		
		<define name="designerName" value="Ing. EMM"/>
		<define name="designerEmail" value="webmaster@shivalikherbals.org"/>
		<define name="devise" value="$"/>
		<define name="minWithdrawal" value="10"/><!-- La plus petite valeur retirable en dolar -->
		<define name="maxMembers" value="12"/>
		
		<list name="footsMember">
			<item name="LEFT" value="1"/>
			<item name="MIDDLE" value="2"/>
			<item name="RIGHT" value="3"/>
		</list>
		
		<list name="virtualMoney">
			<item name="airtel" value="Airtel money"/>
			<item name="vodacom" value="M-Pesa"/>
			<item name="orange" value="Orage money"/>
			<item name="paypal" value="PyPal"/>
			<item name="visa" value="Master card"/>
			<item name="crypto" value="Cryptocurrency"/>
		</list>

	</definitions>
</config>
